@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* General Stuff */

:root {
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --backgroundcolor: #14213d;
    --enlightened_fontcolor: #fca311;
    --default_fontcolor: #FFFFFF;
    --less_important_fontcolor: #e5e5e5;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--medium);
    
    color: var(--default_fontcolor);
    list-style: none;
}

body{
    background-color: var(--backgroundcolor);
}

span{
    color: var(--enlightened_fontcolor);
}

.botones{
    border: none;
    border-radius: 60px;
    padding: 17px 100px;
    background-color: var(--enlightened_fontcolor);
    color: var(--default_fontcolor);
    font-size: 27px;
}

img{
    height: 130px;
    width: auto;
    border-radius: 8px;
}

/* Header */
/* Nav Bar */

nav{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--enlightened_fontcolor);
}

.logo{
    width: auto;
    height: 80px;
}

.menu_container_lista{
    display: flex;
    margin-right: 50px;
    gap: 50px;
}

.material-symbols-outlined{
    font-size: 30px;
    font-weight: var(--medium);
    cursor: pointer;
}


/* Main */
/*Hero*/


h1{
    font-size: 160px;
    font-weight: var(--bold);
}

h1 span{
    font-weight: var(--bold);
}

.slogan{
    font-size: 40px;
    margin: 20px;
    color: var(--less_important_fontcolor);
    font-weight: var(--medium);
}
/*
.imagen_hero_container{
    background-color: var(--enlightened_fontcolor);
    width: 400px;
    height: 400px;
}
*/

.hero_container{
    display: flex;
    padding: 10px 200px;
}

/* Cartas mas compradas */

.cartasmascompradas_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
}

/* Recomended Container */
.recomended_container{
    display: flex;
    margin-top: 40px;
    gap: 50px;
}
/* Diseño Cards */

.item-product{
    background-color: var(--enlightened_fontcolor);
}

.product_recomendation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 250px;
    background-color: var(--enlightened_fontcolor);
    border-radius: 20px;
    padding: 20px 25px;
    margin: 0 auto;
}

.add-btn{
    border: none;
    background-color: var(--default_fontcolor);
    color: var(--enlightened_fontcolor);
    width: 100px;
    height: 50px;
    font-weight: var(--bold);
    font-size: 20px;
    border-radius: 30px;
}

.favorito{
    position: absolute;
    top: 3px;
    left: 9px;
}

.title-card{
    font-weight: var(--bold);
    font-size: 22px;
}

.value-card{
    font-weight: var(--regular);
}

.favorito_icon{
    color: var(--default_fontcolor);
}

.price, .spacing-price{
    color: var(--default_fontcolor);
}

/* ELEGI EL TIPO QUE QUIERAS */

.elegi_el_tipo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
}

.card_category_container{
    display: flex;
    gap: 60px;
}

.card_category{
    background-color: var(--enlightened_fontcolor);
    margin-top: 30px;
    padding: 20px 60px;
    border-radius: 30px;
}

.selected_products_container{
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    gap: 10px;
}

/* FOOTER */

footer{
    margin-top: 200px;
}
